*

!.gitignore
!.envrc
!flake.lock
!flake.nix
!pyproject.toml
!uv.lock
!LICENSE
!README.md
!mkdocs.yml


!tests/

!docs/
!docs/*.md

!static/
!static/site_example.png

!src/
!src/*.py

!src/mkdockyard
!src/mkdockyard/*.py
